packaging
torch
numpy
torchvision
tqdm
tensorboard
scipy
ml_collections
scikit-learn
flask
flask-cors
fastapi
uvicorn
torch
torchvision
pillow
opencv-python-headless
dlib
pandas
matplotlib
python-multipart

